
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.messageBoard {
    margin: 0 ;
    padding:  0;
    width: 96vw;
    height: 80vh;
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    border-left: 0.5vw solid black;
    border-right: 0.5vw solid black;
    border-radius: 0.5vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
.mscontainer{
    display: block;
    margin-left: 1vw;
}
.mscontainer div {
    display: inline-block;
    
}
.mscontainer div.name, div.time {
    margin-right: 0.5vw;
}
.writeArea {
    margin-top: 1vh;
    border-top: 0.5vh solid grey;
    border-bottom: 0.5vh solid grey;
    border-left: 0.5vw solid grey;
    border-right: 0.5vw solid grey;
    height: 5vh;
    width: 94vw;
    /* overflow: hidden; */
    display: block;
    /* display: flex; */
    /* align-content: center; */
    /* justify-content: space-between; */
}

.writeArea .ss-content {
    border: 1px solid black;
    overflow-y: hidden;
}

.writeArea .ss-wrapper {
    word-wrap: break-word;
    overflow-x: hidden;
}


